.filterContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

mat-form-field {
    flex: 1;
}

h2,
table {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 5px;
}

.courseContainer {
    overflow-x: auto;
}

button {
    min-width: 100px;
}

@media screen and (max-width : 800px) {
    h2 {
        text-align: center;
    }

    .filterContainer {
        display: block;
    }

    mat-form-field {
        width: 100%;
        flex: none;
    }

    .btnContainer {
        text-align: center;
    }

    p {
        text-align: center;
    }

    .courseContainer {
        border-top: 2px solid #8C6A5D;
        border-bottom: 2px solid #8C6A5D;
        margin-bottom: 20px;
    }
    
}