<div class="courseContainer">
    <h2>Kurser</h2>
    <label for="filter">Filtrera:</label><br>
    <input type="text" id="filter" placeholder="Filtrera på kurskod eller kursnamn" [(ngModel)]="filterValue"
        (input)="applyFilters()"><br> <!--Tvåvägs data-bindning-->

    <!--Förbättrar användarupplevelsen med att skriva ut ett meddelande om inga kurser hittas.-->
    @if(filteredCourses.length === 0) {
    <p>Inga kurser hittades...</p>
    }

    <label for="subjectSelect">Välj ämne:</label><br>
    <select id="subjectSelect" [(ngModel)]="selectedSubject" (change)="applyFilters()">
        <option value="">-- Alla ämnen --</option>
        <option *ngFor="let subject of subjects" [value]="subject">{{ subject }}</option>
    </select><br>

    <button (click)="clearChoices()">RENSA VAL</button>

    <p>Visar {{ filteredCourses.length }} av {{ courses.length }} kurser</p>

    <table>
        <thead>
            <tr>
                <th (click)="sortCode()">Kod</th>
                <th (click)="sortName()">Kursnamn</th>
                <th (click)="sortPoints()">Poäng</th>
                <th (click)="sortSubject()">Ämne</th>
                <th>Kursplan</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of filteredCourses">
                <td>{{ course.courseCode }}</td>
                <td>{{ course.courseName }}</td>
                <td>{{ course.points }}</td>
                <td>{{ course.subject }}</td>
                <td><a [href]="course.syllabus" target="_blank" rel="noopener">Kursplan</a></td>
            </tr>
        </tbody>
    </table>
</div>