<div class="scheduleContainer">
    <h2>Kurser</h2>
    <button (click)="removeAll()">TA BORT ALLA</button>
    <table>
        <thead>
            <tr>
                <th>Kod</th>
                <th>Kursnamn</th>
                <th>Poäng</th>
                <th>Ämne</th>
                <th>Kursplan</th>
                <th>Ta bort</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of addedCourses">
                <td>{{ course.courseCode }}</td>
                <td>{{ course.courseName }}</td>
                <td>{{ course.points }}</td>
                <td>{{ course.subject }}</td>
                <td><a [href]="course.syllabus" target="_blank" rel="noopener">Kursplan</a></td>
                <td><button (click)="removeCourse(course)">TA BORT</button></td>
            </tr>
        </tbody>
    </table>
    <p>Antal kurser: {{ addedCourses.length }}</p>
    <p>Totalt antal poäng: {{ getTotalPoints() }} hp</p>
    </div>
