.headerContent {
    width: 90%;
    max-width: 1700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    color: white;
}

header {
    background-color: #430A5D;
    border-bottom: 10px solid #8C6A5D;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

li a.active {
    text-decoration-line: underline;
    text-underline-offset: 5px;
}

li a:hover {
    text-decoration-line: underline;
    text-underline-offset: 5px;
}

@media screen and (max-width : 700px) {

    header {
        background: transparent;
        border: none;
    }

    .headerContent,
    nav ul {
        flex-direction: column;
        width: 100%;
    }

    h1 {
        width: 100%;
        text-align: center;
        padding: 10px 0;
        margin-bottom: 10px;
        background-color: #430A5D;
        border-bottom: 10px solid #8C6A5D;
        margin-top: 0;
    }

    nav li {
        width: 90%;
        border-radius: 10px;
        text-align: center;
        padding: 10px 0;
        background-color: #430A5D;
        margin: 0 auto;
    }

    nav {
        width: 100%;
    }

    nav ul {
        gap: 7px;
    }

}