<img src="/headerImage.jpg" alt="Två personer sitter framför en stor skärm med kod">

<h2>Välkommen till Uppsala Tekniska Universitet</h2>
<p><i>Specialiserade på teknik - men det finns något för alla!</i></p>
<p>På den här webbplatsen kan du se hela vårt kursutbud och skapa ditt eget ramschema. Välj och filtrera bland våra
    kurser och lägg till dem som du är intresserade av.</p>
<p>För att läsa mer om oss kan du besöka vår hemsida <a href="#">www.uppsalatekniskauniversitet.se</a></p>

<mat-icon>home</mat-icon>